---
layout: null
---
<html>
<head>
    <meta charset="UTF-8" />
    <title>Fang</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="Fang Releases" href="{{ '/feed.xml' | relative_url }}" />
</head>
<body>

<div id="container">
<br />
<img src="assets/fang.png" width="425" height="178" alt="Logo" /><br clear="all" />

<h1>Feed on news</h1>

<p>Fang helps you stay up to date with your favorite news websites and blogs.</p>

<p>Currently Fang is in an <span class="highlight">early beta test.</span> Download a package for your platform if you'd like to help test it.</p>

<p>Browse the source code and contribute <a href="https://github.com/MrEricSir/Fang/">on GitHub.</a></p>

<h1>Versions &amp; Downloads</h1>

{% for release in site.data.releases %}
<details{% if forloop.first %} open{% endif %}>
    <summary>Fang {{ release.version }}</summary>

    <div class="version-info">
        <h2>Changelog</h2>
        <ul>
            {% for item in release.changelog %}
            <li>{{ item.text }}</li>
            {% endfor %}
        </ul>

        <h2>Downloads</h2>
        <ul>
            <li><a href="https://github.com/MrEricSir/Fang/releases/download/{{ release.tag }}/Fang.msi">Windows</a></li>
            <li><a href="https://github.com/MrEricSir/Fang/releases/download/{{ release.tag }}/Fang.dmg">macOS</a></li>
            <li><a href="https://github.com/MrEricSir/Fang/releases/download/{{ release.tag }}/Fang.AppImage">Linux (AppImage)</a></li>
            <li><a href="https://github.com/MrEricSir/Fang/archive/refs/tags/{{ release.tag }}.zip">Source code</a></li>
        </ul>
    </div>
</details>
{% endfor %}

<h1>Bugs</h1>

<p>Found a bug? File a ticket on <a href="https://github.com/MrEricSir/Fang/issues">the issue tracker.</a></p>

<br /><br />

<p id="copyright">Copyright 2026 Eric Gregory. All rights reserved. No warranty is expressed or implied.</p>

<br />
</div>


</body>
</html>
