body {
  background-color: #fff;
  color: #000;
  font-family: Sans-Serif;
  font-size: 1.5em;
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 425px;
}

img {
  max-width: 100%;
  height:auto;
}

h1 {
  ont-weight: normal;
  font-style: normal;
	
  text-align:center;
  position:relative;
  
  font-family: Sans-Serif;
  font-size: 2em;
}

h2 {
  font-weight: normal;
  font-style: normal;
	
  text-align:center;
  position:relative;
  
  font-family: Sans-Serif;
  font-size: 1.5em;
}

.highlight {
  background-color: #ff0;
}

#copyright {
  color: #aaa;
  font-style: italic;
}
